[Desktop Entry]
Name=MewexxGram Desktop
Comment=Desktop version of MewexxGram - ToS breaking Telegram client
TryExec=MewexxGram
Exec=env DESKTOPINTEGRATION=1 MewexxGram -- %U
Icon=com.mewexxgram.desktop
Terminal=false
StartupWMClass=MewexxGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=MewexxGram -quit
Name=Quit MewexxGram
Icon=application-exit
